//colors
$yellow: #FDDA4C;
$bgray: #454545;
$mint: #8AC4D0;

//mixin
@import './config/_mixin.scss';

// layout
@import './layout/_fonts';
@import './layout/_normalize';
@import './layout/_base';
@import './layout/_header';
@import './layout/_footer';


// sections
@import './sections/_main';
@import './sections/_about';
@import './sections/_services';
@import './sections/_works';
@import './sections/_contacts';