.about {
    min-height: 790px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}
.title {
    @include title;
    margin-bottom: 10%;
    @include phones {
        font-size: 24px;
    }
}
.about-title {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5%;
    @include phones {
        margin-bottom: -7%;
        font-size: 24px;
    }
}
.mint{
    color: $mint;
}
.about-content {
    display: flex;
    align-items: center;
    @include phones {
        flex-direction: column;
    }
}
.about__logo {
    position: relative;
    margin-right: 10%;
    @include phones {
        margin-bottom: 25px;
    }
}
.about__logo-pic {
    z-index: 1000;
    position: relative;
    @include phones {
        width: 90px;
    }
}
.about__logo-down {
    position: absolute;
    left: 7%;
    top: 12%;
    z-index: 10;
    @include phones {
        width: 90px;
    }
}
.about__desc {
    font-size: 23px;
    color: #fff;
    background-color: #393838;
    border-radius: 25px;
    padding: 25px 35px;
    &:hover {
       & > .about__desc-list {
            transform: scale(1.05);
    }
}
}
.about__desc-list {
    padding: 24px 30px;
    transition: transform 300ms;
}
.about__desc-item {
    list-style: disc;
    @include phones {
       font-size: 18px;
    }
}