.main {
    background-image: url('./../img/bg-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    @include phones {
        background-position: right;
    }
}
.container-main {
    margin-top: 10%;
}
.main__title {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: 47px;
    @include tablets {
        font-size: 32px;
    }
    @include phones {
        font-size: 24px;
    }
}
.main__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include tablets {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    @include phones {
        display: block;
        font-size: 22px;
    }
    span {
        color: $yellow;
        font-size: 32px;
        text-transform: uppercase;
        margin-right: 20px;
        @include tablets {
            margin-right: 0;
        }
    }
    p {
        font-size: 24px;
        color: #fff;
        @include tablets {
            font-size: 20px;
        }
        @include phones {
            margin: 0 0 10px 0;
            font-size: 18px;
        }
    }
}
.main__desc {
    color: #fff;
    margin-bottom: 70px;
    font-size: 24px;
    @include tablets {
        font-size: 20px;
    }
    @include phones {
        font-size: 18px;
    }
}

.btn {
    color: #fff;
    text-decoration: dashed;
    border-bottom: 2px solid #fff;
    padding: 0 45px 5px 0;
    font-size: 24px;
    display: flex;
    width: 15%;
    margin-bottom: 5%;
    transition: 200ms;
    &::after {
        content: url('./../img/arrow-white.png');
        display: block;
        margin-left: 60px;
        width: 24px;
        height: 24px;
    }
    &:hover {
        border-bottom: 2px solid $yellow;
        &:after {
            content: url('./../img/arrow-yellow.png');
            display: block;
            margin-left: 60px;
            width: 24px;
            height: 24px;
        }
    }
    @include phones {
        font-size: 18px;
        margin-bottom: 35px;
        width: 42%;
    }
}
.main__adv {
    display: flex;
    font-size: 24px;
    color: #fff;
    width: 60%;
    background: radial-gradient(107.97% 1498.15% at 0% 11.87%, rgba(107, 183, 208, 0.64) 0%, rgba(107, 183, 208, 0.32) 100%);
    border-radius: 25px;
    @include tablets {
        width: 100%;
    }
    @include phones {
        width: 85%;
        font-size: 18px;
        flex-direction: column;
        padding: 30px;
    }
}
.main__adv-list {
    padding: 30px;
    @include phones {
        padding: 0;
    }
}
.main__adv-item {
    display: flex;
    margin-bottom: 10px;
    &::before {
        content: url('./../img/check.png');
        display: flex;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        @include phones {
            content: url('./../img/check-mobile.png');
            width: 20px;
            height: 0;
        }
    }
    @include tablets {
        font-size: 20px;
    }
}