.services__number{
    color: $yellow;
    font-size: 68px;
    font-family: 'InterBold';
}
.services__item {
    font-size: 24px;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $mint;
        margin-bottom: 22px;
    }
}
.services__wrapper {
    display: flex;
    color: #fff;
}
.services__header {
    display: flex;
    width: 60%;
}
.serv__item {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    &::before {
        content: url('../../img/circle.png');
        width: 22px;
        height: 22px;
        margin-right: 15px;
    }
}