.header {
    background-color: #000;
    position: fixed;
    width: 100%;
    margin-bottom: 5%;
    z-index: 2000;
    transition: 0.2s;
    padding: 15px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

.yellow {
    color: $yellow;
}

.img__pic {
    height: 90px;
    width: auto;
}
.scrolled__img {
    transition: 500ms;
    transform: scale(0.7);
}
.nav {
    @include phones {
        display: none;
    }
    @include tablets {
        display: none;
    }
}
.nav__list {
    display: flex;

    .nav__item {
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }
    .nav__link {
        color: #fff;
        font-size: 24px;
        transition: 500ms;
        &:hover {
            color: $yellow;
        }
    }
}

